<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="list">
  <div class="actual">
    <p>Информация о пользователе:</p>
    <p>Имя: <%= @user.name%></p>

    <p>Город: <%= @user.town%></p>
    <button type="button" class="btn btn-primary" onclick="hide('t_change_town')">Изменить город</button>
    <div id="t_change_town" style="display:none">
      <%= render 'shared/errors' %>
      <%= bootstrap_form_for :user, class: 'user_data_form', url: '/change_town' do |f| %>
        <div class="input_item">
          <%= f.text_field :town, label: 'Новый город' %>
        </div>
        <div class="input_item">
          <%= f.text_field :password, label: 'Пароль' %>
        </div>
        <div class="input_item">
          <%= f.submit 'Изменить' %>
        </div>
      <% end %>
    </div>

    <p>Телефон: <%= @user.phone%></p>
    <button type="button" class="btn btn-primary" onclick="hide('t_change_phone')">Изменить телефон</button>
    <div id="t_change_phone" style="display:none">
      <%= bootstrap_form_for :user, class: 'user_data_form', url: '/change_phone' do |f| %>
        <div class="input_item">
          <%= f.text_field :phone, label: 'Новый телефон' %>
        </div>
        <div class="input_item">
          <%= f.text_field :password, label: 'Пароль' %>
        </div>
        <div class="input_item">
          <%= f.submit 'Изменить' %>
        </div>
      <% end %>
    </div>


  </div>
</div>

<table class="table table-bordered caption-top">
  <caption><h2>Избранные товары</h2></caption>
  <thead>
  <tr>
    <th>Товар</th>
    <th>Единица измерения</th>
  </tr>
  </thead>

  <%#- @favourites.each do |f| %>
<!--    <tr>-->
<!--      <td><%#= "#{f.good.nomenclature}" %></td>-->
<!--      <td><%#= "#{f.good.measure}" %></td>-->
<!--    </tr>-->
  <%#-end%>
</table>

</body>
</html>



<script>
    function hide(id){
        elem = document.getElementById(id);
        state = elem.style.display;
        if (state =='') elem.style.display='none';
        else elem.style.display='';
    }
</script>