<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="list">
  <div class="actual">
    <p>Информация о пользователе:</p>
    <p>Имя: <%= @user.name%></p>

    <p>Город: <%= @user.town%></p>
    <button onclick="hide('t_change_town')">Изменить город</button>
    <div id="t_change_town" style="display:none">
      <%= form_for :user, class: 'user_data_form', url: '/change_town' do |f| %>
        <div class="input_item">
          <%=label_tag :town, 'Новый город' %>
          <%= f.text_field :town%>
        </div>
        <div class="input_item">
          <%= label_tag :password, 'Пароль' %>
          <%= f.password_field :password %>
        </div>
        <div class="input_item">
          <%= f.submit 'Изменить' %>
        </div>
      <% end %>
    </div>

    <p>Телефон: <%= @user.phone%></p>
    <button onclick="hide('t_change_phone')">Изменить телефон</button>
    <div id="t_change_phone" style="display:none">
      <%= form_for :user, class: 'user_data_form', url: '/change_phone' do |f| %>
        <div class="input_item">
          <%=label_tag :phone, 'Новый телефон' %>
          <%= f.text_field :phone%>
        </div>
        <div class="input_item">
          <%= label_tag :password, 'Пароль' %>
          <%= f.password_field :password %>
        </div>
        <div class="input_item">
          <%= f.submit 'Изменить' %>
        </div>
      <% end %>
    </div>


  </div>
</div>
</body>
</html>



<script>
    function hide(id){
        elem = document.getElementById(id);
        state = elem.style.display;
        if (state =='') elem.style.display='none';
        else elem.style.display='';
    }
</script>