<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class='controls'>
  <div class='controls_container'>
    <%= link_to 'Operations menu', '/manage_operations', method: :get %>
  </div>
  <div class='controls_container'>
    <%= link_to 'show remains', '/show_remains', method: :get %>
  </div>
  <div class='controls_container'>
    <%= link_to 'show information', '/show_info', method: :get %>
  </div>
</div>
<hr>
<div class='controls_add'>
  <div class='controls_container'>
    <%= link_to 'Warehouses menu', '/manage_warehouse', method: :get %>
  </div>
  <div class='controls_container'>
    <%= link_to 'add good', '/add_good', method: :get %>
  </div>
  <div class='controls_container'>
    <%= link_to 'login', '/login', method: :get %>
  </div>
  <div class='controls_container'>
    <%= link_to 'logup', '/register', method: :get %>
  </div>
</div>
</body>
</html>