<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<h2><caption> Добавить товар </h2></caption>
<%= form_tag('/create_good') do -%>

  <div class='form-field'>
    <%=label_tag 'nomenclature', 'Название' %>
    <%=text_field_tag 'answer[nomenclature]'%>
  </div>
  <div class='form-field'>
    <%=label_tag 'measure', 'Единица измерения' %>
    <%=text_field_tag 'answer[measure]'%>
  </div>
  <div class='form-field'>
    <%= submit_tag 'Добавить' %>
  </div>
<% end -%>

<table class="table table-bordered caption-top">
  <caption><h2>Все товары</h2></caption>
  <thead>
  <tr>
    <th>Товар</th>
    <th>Единица измерения</th>
    <th>Добавить в избранное</th>
  </tr>
  </thead>


  <%= form_for :favourite, remote:true, url: '/create_favourites' do |f| %>
    <%- @goods.each do |g| %>
      <tr>
          <td> <%= "#{g.nomenclature}" %> </td>
          <td> <%= "#{g.measure}" %> </td>
          <td> <input type="checkbox" id="nomenclature" name="nomenclature" value=<%= "#{g.nomenclature}" %> /> </td>
      </tr>
    <%-end%>
    <th>
      <%= f.submit 'Добавить' %>
    </th>
  <% end %>

</table>

</body>
</html>
