<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table caption-top">
    <caption><h2>Добавить операцию</h2></caption>
    <thead class="table-light">
    <tr>
        <th class="col-xs-3"><%= label_tag :good, 'Товар' %></th>
        <th class="col-xs-2"><%= label_tag :wh, 'Склад' %></th>
        <th class="col-xs-2"><%= label_tag :typeop, 'Операции' %></th>
        <th class="col-xs-1"><%= label_tag :quantity, 'Количество' %></th>
        <th class="col-xs-1"><%= label_tag :price, 'Цена' %></th>
        <th class="col-xs-1"><%= label_tag :op_date, 'Дата' %></th>
        <th class="col-xs-1"></th>
    </tr>
    </thead>
    <tr>
        <%= form_for :operation, remote:true do |f| %>
        <th>
            <%= f.select :good, Good.all.collect { |g| g.nomenclature  }, value: 'RRR'  %>
        </th>
        <th>
            <%= f.select :wh, Warehouse.all.collect { |w| w.name } %>
        </th>
        <th>
            <%= f.select :typeop, TypeOperation.all.collect { |w| w.title } %>
        </th>
        <th>
            <%= f.number_field :quantity %>
        </th>
        <th>
            <%= f.number_field :price %>
        </th>
        <th>
            <%= f.date_field :op_date %>
        </th>
        <th>
            <%= f.submit 'Добавить' %>
        </th>
        <% end %>
    </tr>
</table>

<%= render 'shared/errors' %>

<table class="table table-bordered caption-top">
  <caption><h2>История операций</h2></caption>
    <thead>
    <tr>
      <th>Товар</th>
      <th>Склад</th>
      <th>Агент</th>
      <th>Тип</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Дата</th>
    </tr>
    </thead>

    <%- @operations.each do |op| %>
    <tr>
        <td><%= "#{op.good.nomenclature}" %></td>
        <td><%= "#{op.warehouse.name}" %></td>
        <td><%= "#{op.agent.name}" %></td>
        <td><%= "#{op.type_operation.title}" %></td>
        <td><%= "#{op.quantity}" %></td>
        <td><%= "#{op.price}" %></td>
        <td><%= "#{op.op_date}" %></td>
    </tr>
    <%-end%>
</table>

</body>
</html>