<%= render 'shared/errors' %>
<%= bootstrap_form_for :user, class: 'user_data_form' do |f| %>
  <div class="input_item">
    <%= f.email_field :email, label: "Почта" %>
  </div>
  <div class="input_item">
    <%= f.password_field :password, label: "Пароль" %>
  </div>
  <div class="input_item">
    <%= f.submit 'Войти' %>
  </div>
<% end %>