<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<%= form_tag('/create_wh') do -%>

  <div class='form-field'>
    <%=label_tag 'Name', 'имя' %>
    <%=text_field_tag 'answer[name]'%>
  </div>
  <div class='form-field'>
    <%=label_tag 'Town', 'город' %>
    <%=text_field_tag 'answer[town]'%>
  </div>
  <div class='form-field'>
    <%= submit_tag 'Отправить' %>
  </div>
<% end -%>
</body>
</html>

