<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<%= render 'shared/errors' %>
<%= bootstrap_form_for :warehouse, class: 'warehouse_data_form' do |f| %>
  <div class="input_item">
    <%= f.text_field :name, label: "Название", width: '50' %>
  </div>
  <div class="input_item">
    <%= f.text_field :town, label: "Город", width: '50' %>
  </div>
  <div class="input_item">
    <%= f.submit 'Добавить' %>
  </div>
<% end %>
</body>
</html>

